*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background-color: #000;
}

.container {
  width: 100%;
  height: 100vh;
  padding: 3rem;
  background-image: url("../../assets/home/background-home-mobile.jpg");
  -o-object-fit: cover;
     object-fit: cover;
  background-position: 0 0;
  background-size: cover;
  overflow: hidden;
}

@media screen and (min-width: 540px) {
  .container {
    background-image: url("../../assets/home/background-home-tablet.jpg");
  }
}

@media screen and (min-width: 768px) {
  .container {
    background-image: url("../../assets/home/background-home-tablet.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .container {
    background-image: url("../../assets/home/background-home-desktop.jpg");
  }
}

.container {
  position: relative;
  overflow-x: hidden;
}

.container__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7.5rem;
}

.container__nav__logo {
  -webkit-animation: logo 5s forwards;
          animation: logo 5s forwards;
  opacity: 0;
}

@-webkit-keyframes logo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes logo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container__nav__burger {
  width: 2.4rem;
  -webkit-animation: burger 2s forwards;
          animation: burger 2s forwards;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

@-webkit-keyframes burger {
  from {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes burger {
  from {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.container__nav__list {
  position: absolute;
  top: 0;
  right: 0%;
  width: 65%;
  height: 100%;
  background: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(40.7742px);
          backdrop-filter: blur(40.7742px);
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8rem;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  list-style: none;
}

.container__nav__link {
  font-size: 2.3rem;
  text-decoration: none;
  color: #d0d6f9;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
}

.hide {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

@media screen and (min-width: 390px) {
  .container__nav {
    margin-bottom: 12rem;
  }
}

@media screen and (min-width: 412px) {
  .container__nav {
    margin-bottom: 15rem;
  }
}

@media screen and (min-width: 412px) {
  .container__nav {
    margin-bottom: 10rem;
  }
}

@media screen and (min-width: 768px) {
  .container__nav {
    margin-bottom: 10rem;
  }
  .container__nav__link {
    font-size: 1.5rem;
    font-family: "Barlow", serif;
    letter-spacing: 2px;
    position: relative;
  }
  .container__nav__link::after {
    position: absolute;
    content: "";
    bottom: -40px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .container__nav__link:hover::after {
    width: 100%;
  }
  .container__nav__burger {
    display: none;
  }
  .container__nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    top: 0;
    right: 70%;
    height: 10rem;
    gap: 4rem;
    width: 70%;
    -webkit-transform: translateX(1200px);
            transform: translateX(1200px);
    -webkit-animation: navigation 2s forwards;
            animation: navigation 2s forwards;
  }
  @-webkit-keyframes navigation {
    from {
      -webkit-transform: translateX(1200px);
              transform: translateX(1200px);
    }
    to {
      -webkit-transform: translateX(550px);
              transform: translateX(550px);
    }
  }
  @keyframes navigation {
    from {
      -webkit-transform: translateX(1200px);
              transform: translateX(1200px);
    }
    to {
      -webkit-transform: translateX(550px);
              transform: translateX(550px);
    }
  }
  .container__nav__logo {
    position: relative;
    left: 10px;
    opacity: 0;
    -webkit-animation: logo 3s forwards;
            animation: logo 3s forwards;
  }
  @-webkit-keyframes logo {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes logo {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@media screen and (min-width: 820px) {
  .container__nav__list {
    right: 65%;
    height: 10rem;
    gap: 4rem;
    width: 65%;
  }
}

@media screen and (min-width: 912px) {
  .container__nav__list {
    -webkit-animation: nav912 2s forwards;
            animation: nav912 2s forwards;
  }
  @-webkit-keyframes nav912 {
    from {
      -webkit-transform: translateX(1200px);
              transform: translateX(1200px);
    }
    to {
      -webkit-transform: translateX(620px);
              transform: translateX(620px);
    }
  }
  @keyframes nav912 {
    from {
      -webkit-transform: translateX(1200px);
              transform: translateX(1200px);
    }
    to {
      -webkit-transform: translateX(620px);
              transform: translateX(620px);
    }
  }
}

@media screen and (min-width: 1200px) {
  .container__nav__list {
    top: 5%;
    right: 60%;
    height: 10rem;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 65%;
    position: relative;
    -webkit-animation: nav1200 4s forwards;
            animation: nav1200 4s forwards;
  }
  @-webkit-keyframes nav1200 {
    from {
      -webkit-transform: translateX(1500px);
              transform: translateX(1500px);
    }
    to {
      -webkit-transform: translateX(720px);
              transform: translateX(720px);
    }
  }
  @keyframes nav1200 {
    from {
      -webkit-transform: translateX(1500px);
              transform: translateX(1500px);
    }
    to {
      -webkit-transform: translateX(720px);
              transform: translateX(720px);
    }
  }
  .container__nav__list::before {
    position: absolute;
    content: "";
    left: -42%;
    top: 50%;
    width: 45%;
    height: 0.5px;
    background-color: #d0d6f9;
  }
  .container__nav {
    position: relative;
    margin: 0;
    height: 100px;
  }
  .container__nav__link {
    font-size: 2rem;
  }
  .container__nav__logo {
    top: 5%;
  }
}

@media screen and (min-width: 1440px) {
  .container__nav__list {
    top: 5%;
    right: 60%;
    height: 10rem;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 65%;
    position: relative;
    -webkit-animation: nav1440 4s forwards;
            animation: nav1440 4s forwards;
  }
  @-webkit-keyframes nav1440 {
    from {
      -webkit-transform: translateX(2000px);
              transform: translateX(2000px);
    }
    to {
      -webkit-transform: translateX(900px);
              transform: translateX(900px);
    }
  }
  @keyframes nav1440 {
    from {
      -webkit-transform: translateX(2000px);
              transform: translateX(2000px);
    }
    to {
      -webkit-transform: translateX(900px);
              transform: translateX(900px);
    }
  }
  .container__nav__list::before {
    position: absolute;
    content: "";
    left: -45%;
    top: 50%;
    width: 50%;
    height: 0.5px;
    background-color: #d0d6f9;
  }
  .container__nav {
    position: relative;
    margin: 0;
    height: 100px;
  }
  .container__nav__link {
    font-size: 2rem;
  }
  .container__nav__logo {
    top: 5%;
  }
}

@media screen and (min-width: 1920px) {
  .container__nav__list {
    top: 5%;
    right: 60%;
    height: 10rem;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 65%;
    position: relative;
    -webkit-animation: nav1440 4s forwards;
            animation: nav1440 4s forwards;
  }
  @-webkit-keyframes nav1440 {
    from {
      -webkit-transform: translateX(2500px);
              transform: translateX(2500px);
    }
    to {
      -webkit-transform: translateX(1200px);
              transform: translateX(1200px);
    }
  }
  @keyframes nav1440 {
    from {
      -webkit-transform: translateX(2500px);
              transform: translateX(2500px);
    }
    to {
      -webkit-transform: translateX(1200px);
              transform: translateX(1200px);
    }
  }
}

.container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8.1rem;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-animation: header 4.5s 1s forwards;
          animation: header 4.5s 1s forwards;
  opacity: 0;
}

@-webkit-keyframes header {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes header {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.container__header__title {
  font-size: 8rem;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-family: "Bellefair", serif;
  font-weight: 400;
  margin-bottom: 3rem;
}

.container__header__text {
  font-family: "Barlow", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  color: #d0d6f9;
}

@media screen and (min-width: 390px) {
  .container__header {
    margin-bottom: 12rem;
  }
}

@media screen and (min-width: 412px) {
  .container__header {
    margin-bottom: 12rem;
  }
  .container__header__text {
    line-height: 3rem;
  }
}

@media screen and (min-width: 540px) {
  .container__header {
    margin-bottom: 9rem;
  }
  .container__header__text {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .container__header__title {
    font-size: 15rem;
  }
  .container__header__text {
    font-size: 1.6rem;
    width: 60%;
    margin-bottom: 5rem;
  }
  .container__header {
    opacity: 0;
    -webkit-animation: header 4.5s 1.5s forwards;
            animation: header 4.5s 1.5s forwards;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  @-webkit-keyframes header {
    from {
      opacity: 0;
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes header {
    from {
      opacity: 0;
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
}

@media screen and (min-width: 820px) {
  .container__header {
    margin-bottom: 12rem;
  }
  .container__header__text {
    font-size: 2rem;
    width: 75%;
  }
}

@media screen and (min-width: 912px) {
  .container__header {
    margin: 22rem 0 20rem;
  }
  .container__header__title {
    font-size: 15rem;
  }
  .container__header__text {
    width: 80%;
    font-size: 3rem;
    line-height: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    position: relative;
  }
  .container__header__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 10rem;
  }
  .container__header {
    margin: 22rem 0 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 10rem;
    width: 60%;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    -webkit-animation: header 4.5s 1.5s forwards;
            animation: header 4.5s 1.5s forwards;
  }
  @-webkit-keyframes header {
    from {
      opacity: 0;
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes header {
    from {
      opacity: 0;
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  .container__header__title {
    font-size: 15rem;
  }
  .container__header__text {
    text-align: left;
    font-size: 1.8rem;
    line-height: 3.2rem;
    width: 60%;
    margin: 0;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    position: relative;
  }
  .container__header__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 5rem;
  }
  .container__header {
    margin: 22rem 0 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 10rem;
    width: 60%;
  }
  .container__header__title {
    font-size: 15rem;
  }
  .container__header__text {
    text-align: left;
    font-size: 1.8rem;
    line-height: 3.2rem;
    width: 60%;
    margin: 0;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    position: relative;
  }
  .container__header__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 20rem;
  }
  .container__header {
    margin: 22rem 0 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 10rem;
    width: 60%;
  }
  .container__header__title {
    font-size: 18rem;
  }
  .container__header__text {
    text-align: left;
    font-size: 2.2rem;
    line-height: 4rem;
    width: 60%;
    margin: 0;
  }
}

.big-button {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  position: relative;
  border: none;
  cursor: pointer;
  -webkit-transform: translateY(300px);
          transform: translateY(300px);
  -webkit-animation: big-button 4.5s 1s forwards;
          animation: big-button 4.5s 1s forwards;
}

@-webkit-keyframes big-button {
  from {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes big-button {
  from {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.big-button::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid #fff;
  opacity: 1;
  -webkit-animation: pulse 2.5s infinite;
          animation: pulse 2.5s infinite;
}

.big-button:hover::after {
  -webkit-animation: pulse 0.8s infinite;
          animation: pulse 0.8s infinite;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0;
  }
}

.button-link {
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Bellefair", serif;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3rem;
  letter-spacing: 1.25px;
  color: #0b0d17;
}

.close-btn {
  position: absolute;
  top: 4rem;
  right: 3rem;
}

@media screen and (min-width: 375px) {
  .big-button {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
    -webkit-animation: big-button 4.5s 0.3s forwards;
            animation: big-button 4.5s 0.3s forwards;
  }
  @-webkit-keyframes big-button {
    from {
      -webkit-transform: translateY(300px);
              transform: translateY(300px);
    }
    to {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes big-button {
    from {
      -webkit-transform: translateY(300px);
              transform: translateY(300px);
    }
    to {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
}

@media screen and (min-width: 390px) {
  .big-button {
    width: 180px;
    height: 180px;
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
    -webkit-animation: big-button 4.5s 0.1s forwards;
            animation: big-button 4.5s 0.1s forwards;
  }
  @-webkit-keyframes big-button {
    from {
      -webkit-transform: translateY(500px);
              transform: translateY(500px);
    }
    to {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes big-button {
    from {
      -webkit-transform: translateY(500px);
              transform: translateY(500px);
    }
    to {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  .button-link {
    font-size: 2.3rem;
    letter-spacing: 3px;
  }
}

@media screen and (min-width: 412px) {
  .big-button {
    width: 200px;
    height: 200px;
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
    -webkit-animation: big-button 4.5s 0.5s forwards;
            animation: big-button 4.5s 0.5s forwards;
  }
  @-webkit-keyframes big-button {
    from {
      -webkit-transform: translateY(500px);
              transform: translateY(500px);
    }
    to {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes big-button {
    from {
      -webkit-transform: translateY(500px);
              transform: translateY(500px);
    }
    to {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  .button-link {
    font-size: 2.5rem;
    letter-spacing: 3px;
  }
}

@media screen and (min-width: 540px) {
  .big-button {
    width: 170px;
    height: 170px;
  }
  .button-link {
    font-size: 2rem;
    letter-spacing: 3px;
  }
}

@media screen and (min-width: 768px) {
  .close-btn {
    display: none;
  }
  .big-button {
    width: 242px;
    height: 242px;
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
    -webkit-animation: tablet768 4.5s 1s forwards;
            animation: tablet768 4.5s 1s forwards;
  }
  @-webkit-keyframes tablet768 {
    from {
      -webkit-transform: translateY(500px);
              transform: translateY(500px);
    }
    to {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes tablet768 {
    from {
      -webkit-transform: translateY(500px);
              transform: translateY(500px);
    }
    to {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  .button-link {
    font-size: 3.2rem;
  }
}

@media screen and (min-width: 820px) {
  .big-button {
    width: 300px;
    height: 300px;
    -webkit-transform: translateY(600px);
            transform: translateY(600px);
    -webkit-animation: tablet820 4.5s 1.25s forwards;
            animation: tablet820 4.5s 1.25s forwards;
  }
  .button-link {
    font-size: 3.5rem;
    letter-spacing: 5px;
  }
  @-webkit-keyframes tablet820 {
    from {
      -webkit-transform: translateY(600px);
              transform: translateY(600px);
    }
    to {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes tablet820 {
    from {
      -webkit-transform: translateY(600px);
              transform: translateY(600px);
    }
    to {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
}

@media screen and (min-width: 912px) {
  .big-button {
    width: 350px;
    height: 350px;
  }
  .button-link {
    font-size: 4rem;
    letter-spacing: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .big-button {
    width: 250px;
    height: 250px;
    position: relative;
    bottom: 20%;
    -webkit-animation: desktop1200 4.5s 0.5s forwards;
            animation: desktop1200 4.5s 0.5s forwards;
  }
  @-webkit-keyframes desktop1200 {
    from {
      -webkit-transform: translateY(600px);
              transform: translateY(600px);
    }
    to {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes desktop1200 {
    from {
      -webkit-transform: translateY(600px);
              transform: translateY(600px);
    }
    to {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  .button-link {
    font-size: 3.2rem;
    letter-spacing: 2px;
  }
}

@media screen and (min-width: 1440px) {
  .big-button {
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 15%;
    right: 10%;
  }
  .button-link {
    font-size: 3.2rem;
    letter-spacing: 2px;
  }
}

@media screen and (min-width: 1920px) {
  .big-button {
    width: 300px;
    height: 300px;
    position: relative;
    right: 0%;
    -webkit-animation: desktop1920 4.5s 1s forwards;
            animation: desktop1920 4.5s 1s forwards;
  }
  @-webkit-keyframes desktop1920 {
    from {
      -webkit-transform: translateY(600px);
              transform: translateY(600px);
    }
    to {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes desktop1920 {
    from {
      -webkit-transform: translateY(600px);
              transform: translateY(600px);
    }
    to {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  .button-link {
    font-size: 3.5rem;
    letter-spacing: 5px;
  }
}

.lighter {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .lighter {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */