*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background-color: #000;
}

.container {
  width: 100%;
  height: 100vh;
  padding: 3rem;
  background-image: url("../../assets/home/background-home-mobile.jpg");
  -o-object-fit: cover;
     object-fit: cover;
  background-position: 0 0;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .container {
    background-image: url("../../assets/home/background-home-tablet.jpg");
  }
}

.container {
  position: relative;
  overflow-x: hidden;
}

.container__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7.5rem;
}

.container__nav__burger {
  width: 2.4rem;
}

.container__nav__list {
  position: absolute;
  top: 0;
  right: 0%;
  width: 65%;
  height: 100%;
  background: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(40.7742px);
          backdrop-filter: blur(40.7742px);
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8rem;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container__nav__link {
  font-size: 2.3rem;
  text-decoration: none;
  color: #d0d6f9;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
}

.hide {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

@media screen and (min-width: 390px) {
  .container__nav {
    margin-bottom: 12rem;
  }
}

@media screen and (min-width: 412px) {
  .container__nav {
    margin-bottom: 15rem;
  }
}

@media screen and (min-width: 412px) {
  .container__nav {
    margin-bottom: 10rem;
  }
}

@media screen and (min-width: 768px) {
  .container__nav {
    margin-bottom: 10rem;
  }
  .container__nav__link {
    font-size: 1.5rem;
    font-family: "Barlow", serif;
    letter-spacing: 2px;
    position: relative;
  }
  .container__nav__link::after {
    position: absolute;
    content: "";
    bottom: -40px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .container__nav__link:hover::after {
    width: 100%;
  }
  .container__nav__burger {
    display: none;
  }
  .container__nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    top: 0;
    right: 70%;
    height: 10rem;
    gap: 4rem;
    width: 70%;
  }
  .container__nav__logo {
    position: relative;
    left: 10px;
  }
}

@media screen and (min-width: 820px) {
  .container__nav__list {
    right: 65%;
    height: 10rem;
    gap: 4rem;
    width: 65%;
  }
}

.container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8.1rem;
}

.container__header__title {
  font-size: 8rem;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-family: "Bellefair", serif;
  font-weight: 400;
  margin-bottom: 3rem;
}

.container__header__text {
  font-family: "Barlow", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  color: #d0d6f9;
}

@media screen and (min-width: 390px) {
  .container__header {
    margin-bottom: 12rem;
  }
}

@media screen and (min-width: 412px) {
  .container__header {
    margin-bottom: 12rem;
  }
  .container__header__text {
    line-height: 3rem;
  }
}

@media screen and (min-width: 540px) {
  .container__header {
    margin-bottom: 9rem;
  }
  .container__header__text {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .container__header__title {
    font-size: 15rem;
  }
  .container__header__text {
    font-size: 1.6rem;
    width: 60%;
    margin-bottom: 5rem;
  }
}

@media screen and (min-width: 820px) {
  .container__header {
    margin-bottom: 12rem;
  }
  .container__header__text {
    font-size: 2rem;
    width: 75%;
  }
}

@media screen and (min-width: 912px) {
  .container__header {
    margin: 22rem 0 20rem;
  }
  .container__header__title {
    font-size: 15rem;
  }
  .container__header__text {
    width: 80%;
    font-size: 3rem;
    line-height: 4rem;
  }
}

.big-button {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  position: relative;
  border: none;
}

.big-button::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid #fff;
  opacity: 1;
  -webkit-animation: pulse 2.5s infinite;
          animation: pulse 2.5s infinite;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0;
  }
}

.button-link {
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Bellefair", serif;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3rem;
  letter-spacing: 1.25px;
  color: #0b0d17;
}

.close-btn {
  position: absolute;
  top: 4rem;
  right: 3rem;
}

@media screen and (min-width: 390px) {
  .big-button {
    width: 180px;
    height: 180px;
  }
  .button-link {
    font-size: 2.3rem;
    letter-spacing: 3px;
  }
}

@media screen and (min-width: 412px) {
  .big-button {
    width: 200px;
    height: 200px;
  }
  .button-link {
    font-size: 2.5rem;
    letter-spacing: 3px;
  }
}

@media screen and (min-width: 540px) {
  .big-button {
    width: 170px;
    height: 170px;
  }
  .button-link {
    font-size: 2rem;
    letter-spacing: 3px;
  }
}

@media screen and (min-width: 768px) {
  .close-btn {
    display: none;
  }
  .big-button {
    width: 242px;
    height: 242px;
  }
  .button-link {
    font-size: 3.2rem;
  }
}

@media screen and (min-width: 820px) {
  .big-button {
    width: 300px;
    height: 300px;
  }
  .button-link {
    font-size: 3.5rem;
    letter-spacing: 5px;
  }
}

@media screen and (min-width: 912px) {
  .big-button {
    width: 350px;
    height: 350px;
  }
  .button-link {
    font-size: 4rem;
    letter-spacing: 5px;
  }
}

.lighter {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .lighter {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */