.container__commander {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__box {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 3rem;
    opacity: 0;
    transform: translateX(-300px);
    animation: commander 2.5s 0.7s forwards;

    @keyframes commander {
      from {
        opacity: 0;
        transform: translateX(-300px);
      }
      to {
        opacity: 1;
        transform: translateX(0px);
      }
    }

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  &__img {
    width: 200px;
    position: relative;
  }

  &__text-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateX(300px);
    animation: commanderText 2.5s 0.7s forwards;

    @keyframes commanderText {
      from {
        opacity: 0;
        transform: translateX(300px);
      }
      to {
        opacity: 1;
        transform: translateX(0px);
      }
    }
  }

  &__circles-box {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    margin-bottom: 5rem;
  }

  &__circle {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0.7rem;
  }

  &__name {
    font-family: "Bellefair";
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    opacity: 0.5;
    margin-bottom: 1.5rem;
  }

  &__title {
    font-family: "Bellefair";
    font-style: normal;
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 2.8rem;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  &__describe {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.6rem;
    color: $very-light-blue;
    text-align: center;
  }
}

.actives {
  background: $white;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  padding: 0.7rem;
}

@media screen and (min-width: 412px) {
  .container__commander__img {
    width: 230px;
  }
}
@media screen and (min-width: 768px) {
  .container__commander {
    flex-direction: column-reverse;

    &__box {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
      margin-bottom: 0rem;
      opacity: 0;
      transform: translateY(300px);
      animation: commander 2.5s 0.7s forwards;

      @keyframes commander {
        from {
          opacity: 0;
          transform: translateY(300px);
        }
        to {
          opacity: 1;
          transform: translateY(0px);
        }
      }

      &::after {
        display: none;
      }
    }

    &__img {
      width: 400px;
      bottom: 0;
    }

    &__text-box {
      flex-direction: column-reverse;
      opacity: 0;
      transform: translateY(-80px);
      animation: commanderText 2.5s 0.7s forwards;

      @keyframes commanderText {
        from {
          opacity: 0;
          transform: translateY(-80px);
        }
        to {
          opacity: 1;
          transform: translateY(0px);
        }
      }
    }

    &__circles-box {
      gap: 3rem;
    }

    &__name {
      font-size: 2.5rem;
      margin-bottom: 2.5rem;
    }
    &__title {
      font-size: 4rem;
      margin-bottom: 3rem;
      letter-spacing: 4px;
    }

    &__describe {
      font-size: 1.8rem;
      width: 65%;
      margin-bottom: 3rem;
    }

    &__details {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__circle {
      width: 2rem;
      height: 2rem;
    }
  }
  .commander {
    width: 450px;
    bottom: 3rem;
  }

  .pilot {
    width: 450px;
  }

  .specialist {
    width: 400px;
  }

  .engineer {
    width: 500px;
  }
}
@media screen and (min-width: 820px) {
  .container__commander {
    flex-direction: column-reverse;

    &__box {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
      margin-bottom: 3rem;

      &::after {
        display: none;
      }
    }

    &__img {
      width: 465px;
      bottom: 0;
    }

    &__box {
      margin-bottom: 0;
    }

    &__circles-box {
      gap: 3rem;
    }

    &__name {
      font-size: 2.7rem;
      margin-bottom: 2.5rem;
    }
    &__title {
      font-size: 4.2rem;
      margin-bottom: 3rem;
      letter-spacing: 4px;
    }

    &__describe {
      font-size: 2rem;
      width: 65%;
      margin-bottom: 3rem;
    }

    &__details {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10rem;
    }

    &__circle {
      width: 2.3rem;
      height: 2.3rem;
    }
  }
  .engineer {
    width: 550px;
  }
}
@media screen and (min-width: 912px) {
  .container__commander {
    &__img {
      width: 550px;
      bottom: -2rem;
    }

    &__circles-box {
      gap: 4rem;
    }

    &__name {
      font-size: 3rem;
      margin-bottom: 3rem;
    }
    &__title {
      font-size: 4.5rem;
    }

    &__describe {
      font-size: 2.2rem;
    }

    &__details {
      margin-top: 14rem;
    }

    &__circle {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}
@media screen and (min-width: 1200px) {
  .container__commander {
    flex-direction: row-reverse;

    &__img {
      width: 450px;
      bottom: -7rem;
    }

    &__circles-box {
      padding-left: 4rem;
      justify-content: flex-start;
    }

    &__name {
      margin-bottom: 3.5rem;
      width: 100%;
      text-align: left;
    }
    &__title {
      width: 100%;
      text-align: left;
      margin-bottom: 5rem;
    }

    &__describe {
      font-size: 2rem;
      width: 100%;
      text-align: left;
      line-height: 3.5rem;
    }

    &__details {
      padding: 4rem;
      margin-bottom: 5rem;
    }

    &__circle {
      width: 2rem;
      height: 2rem;
    }
  }
}

@media screen and (min-width: 1440px) {
  .container__commander__img {
    width: 500px;
  }

  .commander {
    width: 450px;
  }

  .pilot {
    width: 500px;
  }

  .specialist {
    width: 450px;
  }

  .engineer {
    width: 600px;
  }
}
@media screen and (min-width: 1920px) {
  .container__commander__img {
    width: 600px;
  }

  .commander {
    width: 700px;
  }

  .pilot {
    width: 750px;
  }

  .specialist {
    width: 600px;
  }

  .engineer {
    width: 850px;
  }

  .container__commander__text-box {
    padding: 5rem;
  }

  .container__commander__details {
    margin-bottom: 15rem;
  }
}
