.container__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8.1rem;

  &__title {
    font-size: 8rem;
    text-transform: uppercase;
    text-align: center;
    color: $white;
    font-family: $bellefair;
    font-weight: 400;
    margin-bottom: 3rem;
  }

  &__text {
    font-family: $barlow;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
    color: $very-light-blue;
  }
}

@media screen and (min-width: 390px) {
  .container__header {
    margin-bottom: 12rem;
  }
}

@media screen and (min-width: 412px) {
  .container__header {
    margin-bottom: 12rem;

    &__text {
      line-height: 3rem;
    }
  }
}
@media screen and (min-width: 540px) {
  .container__header {
    margin-bottom: 9rem;

    &__text {
      width: 80%;
    }
  }
}
@media screen and (min-width: 768px) {
  .container__header__title {
    font-size: 15rem;
  }

  .container__header__text {
    font-size: 1.6rem;
    width: 60%;
    margin-bottom: 5rem;
  }
}
@media screen and (min-width: 820px) {
  .container__header {
    margin-bottom: 12rem;
  }
  .container__header__text {
    font-size: 2rem;
    width: 75%;
  }
}
@media screen and (min-width: 912px) {
  .container__header {
    margin: 22rem 0 20rem;
  }
  .container__header__title {
    font-size: 15rem;
  }
  .container__header__text {
    width: 80%;
    font-size: 3rem;
    line-height: 4rem;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    position: relative;
  }
  .container__header__box {
    display: flex;
    align-items: flex-end;
    margin-top: 10rem;
  }
  .container__header {
    margin: 22rem 0 0;
    align-items: flex-start;
    padding-left: 10rem;
    width: 60%;

    &__title {
      font-size: 15rem;
    }

    &__text {
      text-align: left;
      font-size: 1.8rem;
      line-height: 3.2rem;
      width: 60%;
      margin: 0;
    }
  }
}
@media screen and (min-width: 1440px) {
  .container {
    position: relative;
  }
  .container__header__box {
    display: flex;
    align-items: flex-end;
    margin-top: 5rem;
  }
  .container__header {
    margin: 22rem 0 0;
    align-items: flex-start;
    padding-left: 10rem;
    width: 60%;

    &__title {
      font-size: 15rem;
    }

    &__text {
      text-align: left;
      font-size: 1.8rem;
      line-height: 3.2rem;
      width: 60%;
      margin: 0;
    }
  }
}
