.container,
.moon,
.crew,
.technology {
  position: relative;
  overflow-x: hidden;
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7.5rem;

    &__logo {
      animation: logo 5s forwards;
      opacity: 0;
    }

    @keyframes logo {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    &__burger {
      width: 2.4rem;
      animation: burger 2s forwards;
      transform: translateX(100px);
    }

    @keyframes burger {
      from {
        transform: translateX(100px);
      }
      to {
        transform: translateX(0);
      }
    }

    &__list {
      position: absolute;
      top: 0;
      right: 0%;
      width: 65%;
      height: 100%;
      background: rgba(255, 255, 255, 0.04);
      backdrop-filter: blur(40.7742px);
      z-index: 1000;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 8rem;
      transform: translateX(0%);
      transition: all 0.5s;
      list-style: none;
    }

    &__link {
      font-size: 2.3rem;
      text-decoration: none;
      color: $very-light-blue;
      font-family: $bellefair;
      text-transform: uppercase;
    }
  }
}
.hide {
  transform: translateX(100%);
}

@media screen and (min-width: 390px) {
  .container__nav {
    margin-bottom: 12rem;
  }
}

@media screen and (min-width: 412px) {
  .container__nav {
    margin-bottom: 15rem;
  }
}
@media screen and (min-width: 412px) {
  .container__nav {
    margin-bottom: 10rem;
  }
}

@media screen and (min-width: 768px) {
  .container__nav {
    margin-bottom: 10rem;

    &__link {
      font-size: 1.5rem;
      font-family: $barlow;
      letter-spacing: 2px;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        bottom: -40px;
        left: 0;
        width: 0%;
        height: 3px;
        background-color: $white;
        transition: all 0.3s;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  .container__nav__burger {
    display: none;
  }

  .container__nav__list {
    flex-direction: row;
    top: 0;
    right: 70%;
    height: 10rem;
    gap: 4rem;
    width: 70%;
    transform: translateX(1200px);
    animation: navigation 2s forwards;
  }

  @keyframes navigation {
    from {
      transform: translateX(1200px);
    }
    to {
      transform: translateX(550px);
    }
  }

  .container__nav__logo {
    position: relative;
    left: 10px;
    opacity: 0;
    animation: logo 3s forwards;
  }

  @keyframes logo {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@media screen and (min-width: 820px) {
  .container__nav__list {
    right: 65%;
    height: 10rem;
    gap: 4rem;
    width: 65%;
  }
}
@media screen and (min-width: 912px) {
  .container__nav__list {
    animation: nav912 2s forwards;
  }

  @keyframes nav912 {
    from {
      transform: translateX(1200px);
    }
    to {
      transform: translateX(620px);
    }
  }
}
@media screen and (min-width: 1200px) {
  .container__nav__list {
    top: 5%;
    right: 60%;
    height: 10rem;
    justify-content: space-evenly;
    width: 65%;
    position: relative;
    animation: nav1200 4s forwards;

    @keyframes nav1200 {
      from {
        transform: translateX(1500px);
      }
      to {
        transform: translateX(720px);
      }
    }

    &::before {
      position: absolute;
      content: "";
      left: -42%;
      top: 50%;
      width: 45%;
      height: 0.5px;
      background-color: $very-light-blue;
    }
  }

  .container__nav {
    position: relative;
    margin: 0;
    height: 100px;

    &__link {
      font-size: 2rem;
    }
  }

  .container__nav__logo {
    top: 5%;
  }
}
@media screen and (min-width: 1440px) {
  .container__nav__list {
    top: 5%;
    right: 60%;
    height: 10rem;
    justify-content: space-evenly;
    width: 65%;
    position: relative;
    animation: nav1440 4s forwards;

    @keyframes nav1440 {
      from {
        transform: translateX(2000px);
      }
      to {
        transform: translateX(900px);
      }
    }

    &::before {
      position: absolute;
      content: "";
      left: -45%;
      top: 50%;
      width: 50%;
      height: 0.5px;
      background-color: $very-light-blue;
    }
  }

  .container__nav {
    position: relative;
    margin: 0;
    height: 100px;

    &__link {
      font-size: 2rem;
    }
  }

  .container__nav__logo {
    top: 5%;
  }
}
@media screen and (min-width: 1920px) {
  .container__nav__list {
    top: 5%;
    right: 60%;
    height: 10rem;
    justify-content: space-evenly;
    width: 65%;
    position: relative;
    animation: nav1440 4s forwards;

    @keyframes nav1440 {
      from {
        transform: translateX(2500px);
      }
      to {
        transform: translateX(1200px);
      }
    }
  }
}
