.big-button {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  border: none;
  cursor: pointer;
  transform: translateY(300px);
  animation: big-button 3s forwards;
  opacity: 0;
  background-color: $white;

  @keyframes big-button {
    from {
      opacity: 0;
      transform: translateY(300px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid $white;
    opacity: 1;
    animation: pulse 2.5s infinite;
  }

  &:hover::after {
    animation: pulse 0.8s infinite;
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.4);
    opacity: 0;
  }
}

.button-link {
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  font-family: $bellefair;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3rem;
  letter-spacing: 1.25px;
  color: $grey;
}

.close-btn {
  position: absolute;
  top: 4rem;
  right: 3rem;
}

.technology-button {
  background-color: $white;
  color: #000;
}

@media screen and (min-width: 375px) {
  .big-button {
    transform: translateY(300px);
    animation: big-button 3s forwards;
    opacity: 0;

    @keyframes big-button {
      from {
        opacity: 0;
        transform: translateY(300px);
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}
@media screen and (min-width: 390px) {
  .big-button {
    width: 180px;
    height: 180px;
    transform: translateY(500px);
    animation: big-button 3s forwards;
    opacity: 0;
  }

  @keyframes big-button {
    from {
      opacity: 0;
      transform: translateY(500px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .button-link {
    font-size: 2.3rem;
    letter-spacing: 3px;
  }
}
@media screen and (min-width: 412px) {
  .big-button {
    width: 200px;
    height: 200px;
    transform: translateY(500px);
    opacity: 0;
    animation: big-button 3s forwards;
  }

  @keyframes big-button {
    from {
      opacity: 0;
      transform: translateY(500px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .button-link {
    font-size: 2.5rem;
    letter-spacing: 3px;
  }
}
@media screen and (min-width: 540px) {
  .big-button {
    width: 170px;
    height: 170px;
  }

  .button-link {
    font-size: 2rem;
    letter-spacing: 3px;
  }
}

@media screen and (min-width: 768px) {
  .close-btn {
    display: none;
  }
  .big-button {
    width: 242px;
    height: 242px;
    transform: translateY(500px);
    opacity: 0;
    animation: tablet768 3s forwards;
  }

  @keyframes tablet768 {
    from {
      opacity: 0;
      transform: translateY(500px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .button-link {
    font-size: 3.2rem;
  }
}
@media screen and (min-width: 820px) {
  .big-button {
    width: 300px;
    height: 300px;
    transform: translateY(600px);
    animation: tablet820 3s forwards;
    opacity: 0;
  }
  .button-link {
    font-size: 3.5rem;
    letter-spacing: 5px;
  }

  @keyframes tablet820 {
    from {
      opacity: 0;
      transform: translateY(600px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
@media screen and (min-width: 912px) {
  .big-button {
    width: 350px;
    height: 350px;
  }
  .button-link {
    font-size: 4rem;
    letter-spacing: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .big-button {
    width: 250px;
    height: 250px;
    position: relative;
    bottom: 20%;
    animation: desktop1200 3s forwards;
    opacity: 0;
  }

  @keyframes desktop1200 {
    from {
      transform: translateY(600px);
      opacity: 0;
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .button-link {
    font-size: 3.2rem;
    letter-spacing: 2px;
  }
}
@media screen and (min-width: 1440px) {
  .big-button {
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 15%;
    right: 10%;
  }
  .button-link {
    font-size: 3.2rem;
    letter-spacing: 2px;
  }
}
@media screen and (min-width: 1920px) {
  .big-button {
    width: 300px;
    height: 300px;
    position: relative;
    right: 0%;
    animation: desktop1920 3s forwards;
    opacity: 0;
  }

  @keyframes desktop1920 {
    from {
      opacity: 0;
      transform: translateY(600px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .button-link {
    font-size: 3.5rem;
    letter-spacing: 5px;
  }
}
