.moon {
  width: 100%;
  min-height: 100vh;
  padding: 3rem 3rem 8rem;
  background-image: url("../assets/destination/background-destination-mobile.jpg");
  object-fit: cover;
  background-position: 0 0;
  background-size: cover;
  overflow: hidden;
}

@media screen and (min-width: 540px) {
  .container {
    background-image: url("../assets/destination/background-destination-tablet.jpg");
  }
}
@media screen and (min-width: 768px) {
  .container {
    background-image: url("../assets/destination/background-destination-tablet.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .container {
    background-image: url("../assets/destination/background-destination-desktop.jpg");
  }
}
